*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#999;
}
img{
	vertical-align:middle;
}
input{
	outline:none;
	vertical-align:middle;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearFix:after{
	content:"";
	display:block;
	clear:both;
	line-height:0;
	height:0;
}