
/*#logo*/

#logo{
	width:990px;
	height:65px;
	margin:0 auto;
	padding-top:16px;
}
/*#logo left*/

#logo div.left span{
	display:inline-block;
	margin-left:23px;
	font-size:22px;
	margin-top:20px;
	color:black;
}

/*#logo right*/

#logo div.right a{
	font-size:12px;
	margin-top:39px;
	padding-left:23px;
	background:url(../img/login/survey_bg.png) no-repeat 0 3px;
}
#logo div.right a:hover{
	color:red;
	text-decoration:underline;
}

/*#privacy*/

#privacy{
	background-color:#fff8f0;
}
#privacy div.privacys{
	width:790px;
	margin:0 auto;
	padding-left:21px;
	line-height:39px;
	color:#999;
	font-size:12px;
	background:url(../img/login/privacy.png) no-repeat 0 12px;
}
#privacy div.privacys a{
	color:black;
}
#privacy div.privacys a:hover{
	text-decoration:underline;
}

/*#main*/

#main{
	height:475px;
	background-color:#A56841;
	font-size:12px;
}
#main .content{
	position:relative;
	width:990px;
	margin:0 auto;
	height:inherit;
	background:url(https://img1.360buyimg.com/pop/jfs/t1/193411/40/3596/79358/60a1d6e1Efa69414a/4356101b55d4195e.jpg) no-repeat;
}
#main .content .enter{
	width:347px;
	background:white;
	position:absolute;
	top:10px;
	right:0;
}

/*#main .content .top*/

#main .content .top{
	line-height:38px;
	padding-left:30px;
	background-color:#fff8f0;
}
#main .content .top p{
	padding-left:22px;
	color:#999;
	background:url(../img/login/privacy.png) no-repeat 0 12px;
}

/*#main .content .center*/

#main .content .center .enters{
	line-height:54px;
	border-bottom:1px solid #f4f4f4;
}
#main .content .center .enters div{
	width:171px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
}
#main .content .center .enters div a{
	color:black;
	display:inline-block;
	line-height:16px;
	width:inherit;
}
#main .content .center .enters div.left a{
	border-right:1px solid #f4f4f4;
}
#main .content .center .enters div a:hover{
	font-weight:bold!important;
	color:#e4393c!important;
}
#main .content .center .enters div.left a{
	font-weight:bold;
	color:#e4393c;
}

/*#main .content .center .enmin .ewm*/

#main .content .center .enmin .ewm{
	padding:20px 0;
	height:245px;
	border-bottom:1px solid #f4f4f4;
}

/*#main .content .center .enmin .ewm .qr*/

#main .content .center .enmin .ewm .qr{
	width:147px;
	height:147px;
	padding:8px 12px;
	border:1px solid #f4f4f4;
	margin:0 auto;
	margin-bottom:7px;
}

/*#main .content .center .enmin .account*/

#main .content .center .enmin .account{
	display:none;
	padding:0 20px 20px;
}
#main .content .center .enmin .account ul li.mis{
	width:264px;
	height:20px;
	line-height:20px;
	border:1px solid #faccc6;
	padding-left:40px;
	margin:5px 0;
	color:red;
	visibility:hidden;
	background:#ffebeb url(../img/login/mis_bg.png) no-repeat 10px 2px;
}
#main .content .center .enmin .account ul li.ipt input{
	width:254px;
	height:38px;
	padding-left:50px;
	border:1px solid #bdbdbd;
	margin-bottom:20px;
	background:url(../img/login/userName_bg.png) no-repeat;
}
#main .content .center .enmin .account ul li:nth-child(3) input{
	margin-bottom:0;
	background:url(../img/login/psd_bg.png) no-repeat;
}
#main .content .center .enmin .account ul li:nth-child(4){
	color:#666;
	line-height:58px;
}
#main .content .center .enmin .account ul li:nth-child(4) a:hover{
	color:red;
	text-decoration:underline;
}
#main .content .center .enmin .account ul li:last-child input{
	width:304px;
	height:33px;
	background-color:#e4393c;
	border:none;
	color:white;
	border-top:1px solid #cb2a2d;
	border-left:1px solid #cb2a2d	;
}

/*#main .content .center .enmin .ewm .phoneJD*/

#main .content .center .enmin .ewm .phoneJD{
	line-height:46px;
	color:#999;
	text-align:center;
}
#main .content .center .enmin .ewm .phoneJD a{
	color:red;
}

/*#main .content .center .enmin .ewm*/

#main .content .center .enmin .ewm .merit{
	line-height:25px;
	padding-left:60px;
}
#main .content .center .enmin .ewm .merit li{
	float:left;
	color:#999;
	margin-right:18px;
	padding-left:32px;
	background:url(../img/login/merit_bg.png) no-repeat;
}
#main .content .center .enmin .ewm .merit li:nth-child(2){
	background-position:0 -43px;
}
#main .content .center .enmin .ewm .merit li:last-child{
	background-position:0 -86px;
}

/*#main .content .bottom*/

#main .content .bottom{
	line-height:50px;
	background-color:#fcfcfc;
	padding:0 21px;
}
#main .content .bottom .left a{
	padding-left:24px;
	margin-right:15px;
	color:#666;
	background:url(../img/login/bottom_bg.png) no-repeat 0 16px;
}
#main .content .bottom .left a:hover{
	color:red;
	text-decoration:underline;
}
#main .content .bottom .left a:last-child{
	background-position:0 -30px;
}
#main .content .bottom .right a{
	padding-left:21px;
	color:#b61d1d;
	background:url(../img/login/bottom_bg.png) no-repeat 0 -77px;
}
#main .content .bottom .right a:hover{
	text-decoration:underline;
}

/*#footer*/

#footer{
	width:890px;
	margin:0 auto;
	color:#666;
	font-size:12px;
	margin-top:15px;
}
#footer ul li{
	float:left;
	line-height:28px;
}
#footer ul li a{
	display:inline-block;
	padding:0 15px;
	line-height:12px;
	border-right:1px solid #666;
}
#footer ul li a:hover{
	color:red;
	text-decoration:underline;
}
#footer ul li:last-child a{
	border:none;
}
#footer p.bottom{
	line-height:26px;
	text-align:center;
}