/* #main */
#main{
    width:400px;
    margin:0 auto;
    margin-top:80px;
    font-size:12px;
}
#main .lc ul li{
    float:left;
    line-height:24px;
}
#main .lc ul li p:first-child{
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border:1px solid #ccc;
    border-radius:50%;
    margin:0 auto;
}
#main .lc ul li p:last-child{
    margin-top:10px;
    line-height:20px;
}

/*#footer*/

#footer{
	width:890px;
	margin:0 auto;
	color:#666;
	font-size:12px;
	margin-top:15px;
}
#footer ul li{
	float:left;
	line-height:28px;
}
#footer ul li a{
	display:inline-block;
	padding:0 15px;
	line-height:12px;
	border-right:1px solid #666;
}
#footer ul li a:hover{
	color:red;
	text-decoration:underline;
}
#footer ul li:last-child a{
	border:none;
}
#footer p.bottom{
	line-height:26px;
	text-align:center;
}