/*showOnTop*/

#showOnTop{
	height:31px;
	line-height:28px;
	background-color:#e3e4e5;
	font-size:12px;
}
#showOnTop .showOnTops{
	width:1212px;
	margin:0 auto;
}
#showOnTop .showOnTops li{
	float:left;
	position:relative;
}

/*showOnTop left*/

#showOnTop .showOnTops>div.left>ul>li:first-child{
	padding-left:23px;
	margin-right:14px;
	background:url(../img/showOnTop_left_bg.png) no-repeat 1px 8px;
}
#showOnTop .showOnTops>div.left>ul>li:first-child>a:hover{
	color:red;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>a{
	position:relative;
	display:block;
	padding:0 25px 0 25px;
	background:url(../img/showOnTop_left_bg.png) no-repeat 10px -30px;
	z-index:10;
}
#showOnTop .showOnTops>div.left>ul>li:last-child:hover a{
	background-color:white;
	background-position:10px -70px;
	height:31px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child:hover div.mark{
	display:block;
}

/*showOnTop left mark*/

#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark{
	position:absolute;
	top:30px;
	left:-1px;
	width:300px;
	padding-left:10px;
	border:1px solid #ddd;
	color:#999;
	z-index:5;
	background-color:white;
	display:none;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark a:hover{
	color:red;
}

/*showOnTop left mark top*/

#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark div.top{
	padding:12px 0 10px;
	border-bottom:1px dashed #ddd;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark div.top li{
	float:left;
	width:60px;
	margin-bottom:5px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark div.top li a{
	display:inline-block;
	padding:0 8px;
	height:24px;
	line-height:24px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark div.top li:first-child a:hover,#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark div.top li:first-child a{
	background-color:red;
	color:white;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark div.top li a:hover{
	background-color:#f4f4f4;
}

/*showOnTop left mark center*/

#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.center{
	padding-bottom:10px;
	border-bottom:1px dashed #ddd;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.center dt{
	line-height:42px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.center dd a{
	float:left;
	width:145px;
	line-height:26px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dt{
	line-height:42px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dd a{
	float:left;
	width:120px;
	line-height:26px;
	padding-left:23px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dd a{
	background:url(../img/showOnTop_left_mark_bottom_bg.png) no-repeat 0 7px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dd a:nth-child(2){
	background-position:0 -72px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dd a:nth-child(3){
	background-position:0 -20px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dd a:nth-child(4){
	background-position:0 -99px;
}
#showOnTop .showOnTops>div.left>ul>li:last-child>div.mark dl.bottom dd a:last-child{
	background-position:0 -47px;
}

/*showOnTop right*/

#showOnTop .showOnTops>div.right>ul>li{
	padding:0 10px;
}
#showOnTop .showOnTops>div.right>ul>li a:hover,#showOnTop .showOnTops>div.right>ul>li:first-child>a:last-child{
	color:red;
}
#showOnTop .showOnTops>div.right>ul>li:after{
	content:"";
	position:absolute;
	right:0;
	top:9px;
	width:1px;
	height:12px;
	background-color:#ccc;
}
#showOnTop .showOnTops>div.right>ul>li:last-child:after{
	display:none;
}
#showOnTop .showOnTops>div.right>ul>li.icon{
	padding:0;
}
#showOnTop .showOnTops>div.right>ul>li.icon>a{
	display:block;
	padding-right:28px;
	padding-left:10px;
	position:relative;
	z-index:10;
	border:1px solid transparent;
	background:url(../img/showOnTop_right_bg.png) no-repeat 67px 13px;
}
#showOnTop .showOnTops>div.right>ul>li.icon:hover>a{
	height:29px;
	background-color:white;
	border:1px solid #ddd;
	border-bottom-color:white;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(3)>div.mark{
	position:absolute;
	left:0;
	top:30px;
	width:280px;
	border:1px solid #ddd;
	display:none;
	background-color:white;
	z-index:2;
}
#showOnTop .showOnTops>div.right>ul>li.icon:hover div.mark{
	display:block;
}
#showOnTop .showOnTops>div.right>ul>li>div.mark div.top{
	border-bottom:1px solid #f1f1f1;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(3)>div.mark li{
	float:left;
	line-height:28px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(3)>div.mark li:nth-child(2n-1){
	width:73px;
	margin-right:52px;
	padding-left:15px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(5)>div.mark{
	width:155px;
	position:absolute;
	left:0;
	top:30px;
	border:1px solid #ddd;
	display:none;
	padding:10px 0;
	z-index:8;
	background-color:white;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(5)>div.mark li{
	width:74px;
	line-height:22px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(5)>div.mark li:nth-child(2n-1){
	width:60px;
	padding-left:15px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(6)>div.mark{
	width:170px;
	display:block;
	position:absolute;
	top:30px;
	right:0;
	background-color:white;
	border:1px solid #ddd;
	z-index:8;
	display:none;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(6)>div.mark div.top{
	border-bottom-style:dashed;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(6)>div.mark dt{
	padding-left:10px;
	line-height:30px;
	font-weight:bold;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(6)>div.mark dd a{
	width:80px;
	float:left;
	line-height:26px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(6)>div.mark dd a:nth-child(2n-1){
	padding-left:10px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(7)>div.mark{
	width:1210px;
	position:absolute;
	right:-70px;
	top:30px;
	border:1px solid #ddd;
	background-color:white;
	z-index:8;
	padding:10px 0;
	display:none;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(7)>div.mark div{
	width:258px;
	border-left:1px solid #ddd;
	padding-left:20px;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(7)>div.mark div.tszt{
	width:347px;
	border-left:none;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(7)>div.mark dl dt{
	line-height:38px;
	font-weight:bold;
}
#showOnTop .showOnTops>div.right>ul>li:nth-child(7)>div.mark dl dd a{
	width:85px;
	float:left;
	line-height:24px;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark{
	border:1px solid #ddd;
	border-bottom:3px solid #60575a;
	position:absolute;
	right:0;
	top:30px;
	background-color:white;
	z-index:100;
	display:none;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div{
	width:165px;
	border-bottom:1px solid #ddd;
	padding:10px 20px 10px 5px;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div:last-child{
	border:none;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div>div:first-child{
	border:1px solid #ddd;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div>div:last-child{
	width:85px;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div h3{
	line-height:26px;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div p:nth-child(2){
	line-height:14px;
	color:red;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div p:last-child{
	margin-top:7px;
}
#showOnTop .showOnTops>div.right>ul>li:last-child>div.mark>div p:last-child a{
	float:left;
	margin-right:3px;
}
img.jt{
	position:absolute;
	left:26px;
	top:26px;
	z-index:10;
	display:none;
}
#showOnTop .showOnTops>div.right>ul>li:last-child:hover div.mark,#showOnTop .showOnTops>div.right>ul>li:last-child:hover img{
	display:block;
}

/* #logo */

#logo{
    width:990px;
    margin:0 auto;
}
#logo .logos{
    margin-top:35px;
}
#logo .search{
    margin-top:40px;
}
#logo .search input[type=text]{
    width:270px;
    height:24px;
    border:2px solid #c91623;
}
#logo .search input[type=submit]{
	width:50px;
	height:28px;
	background-color:#c91623;
	border:none;
	color:white;
	font-weight:800;
}

/* #shoppingCar */

#shoppingCar{
    width:990px;
    margin:0 auto;
    margin-top:34px;
}
#shoppingCar .all{
    line-height:46px;
    color:red;
    font-weight:bold;
}
.title{
    border:1px solid #e9e9e9;
    border-top:none;
    line-height:42px;
    background-color:#f3f3f3;
}
.title li{
    float:left;
}
.title li:first-child,.content ul li:first-child{
    width:120px;
    padding-left:10px;
}
.title li:nth-child(2),.content ul li:nth-child(2){
    width:475px;
}

.title li:nth-child(3),.content ul li:nth-child(3){
    width:100px;
}
.title li:nth-child(4),.content ul li:nth-child(4){
    width:127px;
}
.title li:nth-child(5),.content ul li:nth-child(5){
    width:65px;
}
#shoppingCar .content>ul{
    border-top:3px solid #ccc;
    padding-top:15px;
    font-size:12px;
    overflow:hidden;
    margin-top:40px;
    padding-bottom:20px;
}
.content ul li{
    float:left;
    line-height:20px;
}
.content ul li:nth-child(2) img{
	float:left;
}
.content ul li:nth-child(2) p{
	display:inline-block;
	vertical-align:top;
	line-height:22px;
	width:355px;
	margin-left:10px;
}
.content ul li:nth-child(2) p:last-child{
	color:#aaa;
	padding-left:24px;
	line-height:16px;
	background:url(../img/shopping/sp_sz_bg.png) no-repeat;
}
#shoppingCar .content>ul>li:first-child{
    width:30px;
}
.content ul li:nth-child(2){
    width:565px;
    overflow:hidden;
}
.content ul li:nth-child(4) input{
    width:46px;
    height:18px;
    border:none;
    border-top:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    verticla-align:top;
    text-align:center;
}
.content ul li:nth-child(4) button{
    width:15px;
    height:20px;
    border:1px solid #cfcfcf;
    vertical-align:middle;
}
.content ul li:last-child{
    cursor:pointer;
}
.content ul li:last-child:hover{
    color:red;
}

/*#footer*/

#footer{
	background-color:#eaeaea;
	font-size:12px;
}
.footerTop{
	width:990px;
	margin:0 auto;
	padding-bottom:40px;
}
.bre{
	height:1px;
	background-color:#dedede;;
}
.fw{
	width:940px;
	margin:0 auto;
	line-height:102px;
}
.fw ol li{
	float:left;
	padding-left:46px;
	width:188px;
	font-size:17px;
	font-weight:bold;
	background:url(../img/shopping/images/fw_bg_03.png) no-repeat 0 30px;
}
.fw ol li:nth-child(2){
	background-image:url(../img/shopping/images/fw_bg_05.png);
}
.fw ol li:nth-child(3){
	background-image:url(../img/shopping/images/fw_bg_07.png);
}
.fw ol li:last-child{
	background-image:url(../img/shopping/images/fw_bg_09.png);
}
.zn{
	padding:20px 0;
}
.zn{
	padding-left:55px;
}
.zn dl{
	float:left;
	width:205px;
}
.zn dl:last-child{
	width:110px;
}
.zn dl dt{
	color:#777;
	font-weight:bold;
	line-height:24px;
}
.zn dl dd{
	line-height:22px;
}
.zn dl dd a:hover{
	color:red;
}
.gy ul li{
	float:left;
	line-height:50px;
	padding:0 7px;
}
.gy ul li a:hover{
	color:red;
}
.bq p{
	color:#999;
	text-align:center;
	line-height:22px;
}
.bq p a:hover{
	color:red;
}
.yq p{	
	color:#656565;
	text-align:center;
	padding-top:10px;
}
.yq p a{
	display:inline-block;
	width:60px;
	padding:0 16px 0 37px;
	height:28px;
	text-align:left;
	vertical-align:middle;
	background:url(../img/shopping/images/yq_bg_03.png) no-repeat;
}
.yq p a:nth-child(2){
	background-image:url(../img/shopping/images/yq_bg_05.png);
}
.yq p a:nth-child(3){
	background-image:url(../img/shopping/images/yq_bg_07.png);
}
.yq p a:nth-child(4){
	line-height:28px;
	background-image:url(../img/shopping/images/yq_bg_09.png);
}
.yq p a:nth-child(5){
	background-image:url(../img/shopping/images/yq_bg_11.png);
}
.yq p a:last-child{
	background-image:url(../img/shopping/images/yq_bg_13.png);
}
.js{
	font-size:12px;
}
.js .left{
	width:864px;
	line-height:50px;
	border:1px solid #f0f0f0;
	padding-left:10px;
	padding-right:20px;
}
.js .left ul li{
	float:left;
}
.js .left ul li span{
	color:red;
	font-weight:bold;
}
.js .left ul li:nth-child(2){
	padding:0 10px;
	cursor:pointer;
}
.js .left ul li:nth-child(2) a:hover{
	color:red;
}
.js .left ul li:nth-child(4){
	margin-right:30px;
}
.js .left ul li:nth-child(3){
	color:#999;
	padding-right:18px;
	background:url(../img/shopping/yellow_bg.png) no-repeat right center;
}
.js .right a{
	display:block;
	width:94px;
	line-height:52px;
	background-color:#e64347;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color:white;
}